.back {
	height: auto;
	background: var(--dark);
	color: white;
	font-weight: 700;
	-webkit-transition: all .25s ease-in;
	   -moz-transition: all .25s ease-in;
	    -ms-transition: all .25s ease-in;
	     -o-transition: all .25s ease-in;
	        transition: all .25s ease-in;
}

.title {
	font-family: Poppins, sans-serif;
	padding: 300px 0 50px 0;
	text-align: center;
	font-size: 24px;
}

.container {
	margin: auto;
	display: grid;
	grid-template-columns: auto auto auto;
	width: 90%;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin: 30px auto;
	width: 300px;
	height: 350px;
	padding: 80px 0;
	box-shadow:  12px 12px 24px #0e0e0e,
             -12px -12px 24px #363636;

	border-radius: 32px;
	transition: opacity 200ms ease, background-color 300ms ease, box-shadow 300ms ease, transform 300ms ease, -webkit-transform 300ms ease !important;
}

.card:hover {
	box-shadow: 0 4px 24px 0 rgba(174, 182, 189, 0.24);
}

.cardContainer {
	transition: all .25s cubic-bezier(0.16, 1, 0.3, 1);
}

.card > * {
	margin: auto;
}

.text {
	width: 80%;
}

.card > div:nth-child(1)  {
	cursor: pointer;
	line-height: 1.5rem;
	font-weight: 600;
}

.link {
	position: relative;
	top: 40px;
}

.link > a > img {
	height: 34px;
	width: auto;
	margin-right: 11px;
}

/* MODAL */

.backdrop {
	position: fixed;
	display: flex;
	-moz-box-align: center;
	align-items: center;
	-moz-box-pack: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5);
	inset: 0px;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 540px;
	max-width: 600px;
	width: 90%;
	margin: auto;
	padding: 50px;
	background: var(--dark);
	border-radius: 20px;
	color: white;
	overflow: auto;

	animation: pop 0.3s 1;
	transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
}

.modal > * {
	/* overflow-y: scroll; */
}

@keyframes pop {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.image {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.image > span > img {
	max-height: 300px;
	height: 200px;
	width: auto;
	margin: 0 10px 25px 10px;
}

.modal > p {
	display: inline-block;
	line-height: 1.5rem;
	padding-bottom: 50px;
}

.close {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	height: 32px;
	width: 32px;
	transition: all .15s ease-in;
}

.close:hover {
	transform: scale(1.1, 1.1);
}


@media only screen and (max-width: 800px) {
	.container {
		grid-template-columns: auto auto;
	}
}

@media only screen and (max-width: 600px) {
	.container {
		grid-template-columns: auto;
	}
}