.tl-bg {
    background: var(--dark);
}

.tl-container {
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
}

li {
    list-style: none;
    display: flex;
    position: relative;
    min-height: 200px;
}

.dot {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    border-color: transparent;
    color: rgb(229, 227, 223);
    background-color: rgb(61, 66, 69);
}

.dot {
    display: flex;
    align-self: baseline;
    border-style: solid;
    border-width: 2px;
    padding: 4px;
    border-radius: 50%;
    box-shadow: 0px 2px 1px -1pxrgba(0, 0, 0, 0.2), 0px 1px 1px 0pxrgba(0, 0, 0, 0.14), 0px 1px 3px 0pxrgba(0, 0, 0, 0.12);
    margin: 11.5px 0;
    border-color: transparent;
    color: #fafafa;
    background-color: #bdbdbd;
}



/* .li:before {
    content: "";
    flex: 1;
    padding: 6px 16px;
} */
.text-small {
    flex: 1;
    padding: 6px 16px;

    font-weight: 400;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.7);
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.sep {
    flex: 0;
}

.text {
    flex: 1;
}

.text {
    flex: 1;
    padding: 6px 16px;
}

.sep {
    display: flex;
    flex-direction: column;
    flex: 0;
    align-items: center;
}

.line {
    width: 2px;
    background-color: #bdbdbd;
    flex-grow: 1;
}