.navbar {
	position: absolute;
	top: 0;
	right: 0;
	height: 4em;
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
	font-size: 18px;
}

.navbar > ul {
	position: relative;
	top: 30px;
	display: flex;
	list-style: none;
	margin: auto 20px;
	z-index: 100;
}

.navbar > ul > li > a {
	text-decoration: none;
	padding: 20px;
	letter-spacing: 2px;
	color: #e0fbfc;
	-webkit-transition: all .5s ;
	   -moz-transition: all .5s ;
	    -ms-transition: all .5s ;
	     -o-transition: all .5s ;
	        transition: all .5s ;
} 

.navbar > ul > li {
	-webkit-transition: all .25s ease-in;
	   -moz-transition: all .25s ease-in;
	    -ms-transition: all .25s ease-in;
	     -o-transition: all .25s ease-in;
	        transition: all .25s ease-in;
}

.navbar > ul > li:hover {
	-webkit-transform: scale(1.1, 1.1);
	   -moz-transform: scale(1.1, 1.1);
	    -ms-transform: scale(1.1, 1.1);
	     -o-transform: scale(1.1, 1.1);
	        transform: scale(1.1, 1.1);
} 


@media only screen and (max-width: 600px) {
	.navbar > ul {
		display: flex;
		justify-content: center;
		list-style: none;
		margin: auto 20px;
	}
}
