.back {
	height: auto;
	background: var(--dark);
	color: white;
	font-weight: 700;
	-webkit-transition: all .25s ease-in;
	   -moz-transition: all .25s ease-in;
	    -ms-transition: all .25s ease-in;
	     -o-transition: all .25s ease-in;
	        transition: all .25s ease-in;
}

.title {
	font-family: Poppins;
	padding: 300px 0 50px 0;
	text-align: center;
	font-size: 24px;
}

.container {
	margin: auto;
	display: grid;
	grid-template-columns: auto auto auto;
	width: 90%;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin: 30px auto;
	width: 300px;
	height: 350px;
	padding: 80px 0;
	background: #1611592F;
	border: 2px solid #FFFFFF66;
	border-radius: 20px;
	-webkit-transition: all .55s ease-in;
	   -moz-transition: all .55s ease-in;
	    -ms-transition: all .55s ease-in;
	     -o-transition: all .55s ease-in;
	        transition: all .55s ease-in;
}

.card:hover {
	-webkit-transform: translate(-20px, -20px);
	   -moz-transform: translate(-20px, -20px);
	    -ms-transform: translate(-20px, -20px);
	     -o-transform: translate(-20px, -20px);
	        transform: translate(-20px, -20px);
	background: #FFFFFF0A;
}

.card > * {
	margin: auto;
}

.card > div:nth-child(1)  {
	cursor: pointer;
	line-height: 1.5rem;
	font-weight: 900;
}

.link {
	position: relative;
	top: 40px;
}

.link > a > img {
	height: 34px;
	width: auto;
	margin-right: 11px;
}

/* MODAL */

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	height: 540px;
	max-width: 600px;
	width: 90%;
	padding: 50px;
	background: #DFCBF8;
	border-radius: 20px;
	color: #0A0A0A;
	box-shadow: 0 2px 10px white;
	overflow: auto;
	z-index: 30;
	animation: pop 2s 1;
	-webkit-transition: all 1s ease-in;
	   -moz-transition: all 1s ease-in;
	    -ms-transition: all 1s ease-in;
	     -o-transition: all 1s ease-in;
	        transition: all 1s ease-in;
}

@keyframes pop {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.image {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.image > span > img {
	height: 200px;
	width: auto;
	margin: 0 10px 25px 10px;
}

.modal > p {
	display: inline-block;
	line-height: 1.5rem;
	padding-bottom: 50px;
}

.close {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	height: 32px;
	width: 32px;
	-webkit-transition: all .25s ease-in;
	   -moz-transition: all .25s ease-in;
	    -ms-transition: all .25s ease-in;
	     -o-transition: all .25s ease-in;
	        transition: all .25s ease-in;
}

.close:hover {
	-webkit-transform: scale(1.4, 1.4);
	   -moz-transform: scale(1.4, 1.4);
	    -ms-transform: scale(1.4, 1.4);
	     -o-transform: scale(1.4, 1.4);
	        transform: scale(1.4, 1.4);
}


@media only screen and (max-width: 800px) {
	.container {
		grid-template-columns: auto auto;
	}
}

@media only screen and (max-width: 600px) {
	.container {
		grid-template-columns: auto;
	}
}