
/* Start Profile Section */

.profile {
	display: flex;
	height: 100vmin;
	width: 100%;
	background-color: #1c2541;
}


.profile-pic {
	padding: 5rem;
 	height: 100vmin;
 	width: auto;
}

.bio-container {
	margin-left: 4.5rem;
	margin-top: 2rem;

}


.bio {
	display: block;
	padding: 20vh 0px 0px 20px;
	height: auto;
	position: relative;
}


.bio > p {
	font-size: 20px;
	color: #d8dbd4;
	font-family: 'Questrial', sans-serif;
}

.bio > .bio-jumbo {
	color: #6fffe9;
	margin-bottom: 10px;
	font-weight: 900;
	text-align: left;
}

.bio > .bio-interest {
	display: block;
	text-align: left;
	margin-top: 3em;
}

.bio > .bio-flex {
	display: block;
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	font-weight: 900;
	text-align: left;
}
/*RESPONSIVE*/

@media only screen and (max-width: 900px) {
  .profile {
  	height: 900px ;
  	display: flex;
  	flex-direction: column;
  	flex-wrap: wrap;
  
  }
  
  .profile-pic {
  	margin: 0 auto -30px auto;
}
	.bio-container {
		margin: -100px auto auto auto;
		
	}
  
}

/* Start Tools Section */

.tools-container {
	height: min-content;
	background-color: #073b4c;
	color: #6fffe9;
}

.tools-p {
	display: block;
	padding: 1em 0 1em 0;
	font-size: 40px;
	text-align: center;
	font-family: 'Poppins', sans-serif;
}

.tools-ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
}

.tools-ul > li {
	margin: 0 4rem 4rem 4rem;
}

li > img {
	height: 75px;
	width: auto;
}














