/* Cursor */

.cursor {
	position: fixed;
	left: -30px;
	top: -30px;
	width: 100px;
	height: 100px;
	mix-blend-mode: difference;
	background-color: white;
	z-index: 10;

	border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
	background-color: white;
	animation: morphing 5s infinite;
}

@keyframes morphing {
	0% {
		border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
	}
	25% {
		border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
	}
	50% {
		border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
	}
	75% {
		border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
	}
}


/* Start Profile Section */

@media only screen and (max-width: 1120px) {
	.textContainer {
		text-align: center;
	}

	.face {
		margin: auto !important;
	}

	.intro {
		margin: 90px auto auto auto !important;
	}
}

.profile {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background: #023772;
	color: #ffe9f3;
	padding-top: 200px;
	padding-bottom: 170px;
}

.face {
	margin: auto 10px auto 16%;
	height: 350px;
	width: auto;
}

.intro {
	margin: auto auto auto 10px;
}

.textContainer {
	width: 90%;
	margin: auto ;
}

.jumbo {
	font-family: Poppins;
	font-size: 24px;
	margin-bottom: 20px;
}

.par {
	font-family: Questrial;
	font-size: 18px;
	line-height: 1.8rem;
}

/* Stack */

.container {
	min-height: 360px;
	background: #0A2C52;
}

.tools {
	position: relative;
	display: block;
	top: 50px;
	font-family: Poppins;
	font-size: 24px;
	text-align: center;
	color: white;
}

.ul {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	padding-top: 90px;
	padding-bottom: 20px;
	justify-content: center;
}


.ul > li > img {
	height: 90px;
	width: auto;
	margin: 25px 40px;
}