.container {
	height: 20rem;
	background-color: #293241;
	color: white;
	overflow-x: hidden;
}

.title {
	display: block;
	position: relative;
	top: 60px;
	left: 15%;
	font-size: 40px;
	text-align: left;
	font-family: 'Poppins', sans-serif;
	width: auto;
}

.socmed {
	font-family: 'Questrial';
	position: relative;
	top: 80px;
	left: 15%;
}

.socmed > div > p {
	display: block;
	position: relative;
	top: -25px;
	left: 40px;
}
