.navbar {
	position: absolute;
	top: 0;
	right: 0;
	height: 4em;
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
	font-size: 18px;
}

.navbar > ul {
	position: relative;
	top: 30px;
	display: flex;
	list-style: none;
	margin: auto 20px;
	z-index: 100;
}

.navbar > ul > li > a {
	text-decoration: none;
	padding: 20px;
	letter-spacing: 2px;
	color: #e0fbfc;
	-webkit-transition: all .5s ;
	   -moz-transition: all .5s ;
	    -ms-transition: all .5s ;
	     -o-transition: all .5s ;
	        transition: all .5s ;
} 

.navbar > ul > li > a:hover {
	color: black;
} 

