@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap'); /*font-family: 'Poppins', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap'); /*font-family: 'Questrial', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /*font-family: 'Bebas Neue', cursive;*/



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
