.proj-container {
	background-color: #1c2541;
	color: white;
}

.proj-container > p {
	display: block;
	padding: 2em 0 2em 0;
	font-size: 20px;
	text-align: center;
	font-family: 'Poppins', sans-serif;
}

.cards-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	height: 25rem;
	width: 20rem;
	background-color: #888;
	margin: 3rem;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}

.card > h1 {
	text-align: center;
	padding: 5px;
}

p {
	display: block;
	padding: 1em;
}

































